    /* --------*----------  */
    
    * {
        border-style: none;
        border: 0px;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        margin: 0;
        padding: 0;
        background-color: black;
        width: 100%;
    }
    /* -----------a--------------- */
    
    a:link {
        color: aliceblue;
        text-decoration: none;
    }
    
    a:visited {
        color: aliceblue;
        text-decoration: none;
    }
    
    a:active {
        border-style: none;
        border: 0px;
    }
    
    a:focus {
        border-style: none;
        border: 0px;
    }
    /* --------------topbar---------------------------- */
    
    #topbar {
        position: fixed;
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        padding: 10px 20px 10px 20px;
        width: 100vw;
        height: 70px;
        display: flex;
        z-index: 10;
    }
    
    #logo {
        position: relative;
        display: block;
        width: 40%;
    }
    
    #logo img {
        height: 4em;
        padding: 10px;
    }
    
    nav ul {
        width: 60%;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        padding-right: 30px;
        align-items: center;
        overflow: hidden;
    }
    
    .navi {
        list-style-type: none;
        display: inline-block;
        font-size: 1.6em;
        letter-spacing: 0px;
        padding: 0px 17px 0px 17px;
        font-family: "Advent Pro", "Allan", cursive;
        font-weight: 500;
    }
    
    .navi a {
        color: antiquewhite;
    }
    
    .navi::after {
        content: ' ';
        height: 2px;
        border-radius: 4px;
        width: 95%;
        position: relative;
        display: block;
        color: antiquewhite;
        background-color: antiquewhite;
        bottom: 0px;
        transform-origin: left;
        transform: scale(0);
        transition: 0.5s ease;
    }
    
    .navi:hover::after {
        transform: scale(1);
    }
    /* ---------------------sections--------------------------- */
    
    .sec {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    
    .firstsec {
        display: flex;
        top: 0;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(noah-silliman-gzhyKEo_cbU-unsplash.jpg) no-repeat;
        background-position: 0 30%;
        background-attachment: fixed;
        background-size: cover;
        color: antiquewhite;
    }
    
    .secsec {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(13406.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .thsec {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(qIsOxn.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .frsec {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(matt-antonioli-tvr95xKC1N4-unsplash.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .ftsec {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(ross-sokolovski-UAFXj9dRpwo-unsplash.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .stsec {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(michael-benz-IgWNxx7paz4-unsplash.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .sttsec {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(steve-harvey-U4wcrDteZ2Y-unsplash.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    #cont {
        display: flex;
        justify-content: center;
    }
    /* ---------------head-----------------------  */
    
    .head {
        font-size: 4rem;
        /* padding-left: 50px;
    padding-right: 50px; */
        position: relative;
        top: 60px;
        font-family: "Jua", 'Love Ya Like A Sister', cursive;
        text-shadow: 4px 4px black;
        color: antiquewhite;
    }
    
    .head::selection {
        background-color: aquamarine;
        color: black;
    }
    
    .sec .head {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 90px;
        text-align: center;
    }
    
    .sec .head::after {
        content: '';
        display: block;
        position: relative;
        height: 6px;
        width: 30%;
        align-self: center;
        background-color: antiquewhite;
    }
    
    .firstsec .head {
        cursor: crosshair;
        opacity: 0;
        animation: fadeinv1 2s ease-in forwards;
        padding-left: 50px;
        top: 0em;
        text-align: left;
    }
    
    .firstsec .head::after {
        background-color: transparent;
    }
    
    #cont {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /* -----------------content---------------- */
    
    .content {
        position: relative;
        font-size: 2.2em;
        font-weight: 500;
        color: antiquewhite;
        padding-left: 50px;
        padding-right: 50px;
        font-family: "Advent Pro";
        top: 4.5em;
    }
    
    .firstsec .content {
        opacity: 0;
        top: 0;
        animation: fadeinv2 1s ease 2s forwards;
        margin-bottom: 5em;
    }
    
    .content::selection {
        background-color: aquamarine;
        color: black;
    }
    
    .content .p::selection {
        background-color: aquamarine;
        color: black;
    }
    
    .content ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .content ul li {
        margin: 0 5px 0 5px;
    }
    
    .content ul li::selection {
        background-color: aquamarine;
        color: black;
    }
    
    ul#contactlist {
        display: flex;
        position: relative;
        transform-origin: center;
        margin: 0 15% 0 15%;
        width: 70%;
        bottom: 0rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    
    ul#contactlist li {
        font-size: 2.7rem;
        transition: ease .3s;
        padding: 5px 15px 5px 15px;
        border: 2px solid transparent;
        border-radius: 13px;
    }
    
    ul#contactlist li:hover {
        transform: scale(1.3);
        animation: showborder .2s 0.1s ease forwards;
    }
    
    ul#contactlist li i {
        color: antiquewhite;
        transition: 0.5s ease;
    }
    
    ul#contactlist li i:hover {
        color: black;
    }
    
    #cont .head {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    #cont .content p {
        text-align: center;
        width: 100%;
        transform: translateY(-6rem);
        font-size: 2.5rem;
    }
    
    #cont .content ul {
        transform: translateY(-6rem);
    }
    /* ----------------------keyframes-------------------------- */
    
    @keyframes fadeinv1 {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        70% {
            opacity: 0.4;
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes fadeinv2 {
        from {
            opacity: 0;
            transform: translateY(110%);
        }
        70% {
            opacity: 0.4;
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes showborder {
        from {
            border-color: transparent;
        }
        to {
            border-color: black;
            background-color: red;
        }
    }
    /* ---------------------------------------------- */
    
    .head::selection {
        color: black;
        background-color: aquamarine;
        text-shadow: 4px 4px antiquewhite;
    }
    
    .content::selection {
        color: black;
        background-color: aquamarine;
    }
    
    @media only screen and (max-width:760px) {
        html {
            scroll-behavior: smooth;
        }
        * {
            border-style: none;
            border: 0px;
        }
        html::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        html {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
        body {
            margin: 0;
            padding: 0;
            background-color: black;
            color: maroon;
            width: 100vw;
        }
        #topbar {
            position: absolute;
            top: 0;
            background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
            /* padding: 10px 20px 10px 20px; */
            width: 100%;
            height: 70px;
            display: flex;
            z-index: 10;
            justify-content: center;
            align-items: center;
        }
        #logo {
            display: flex;
            width: 80%;
            transform: scale(0.5);
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
            top: 0;
        }
        #logo img {
            height: 4em;
        }
        nav ul {
            display: none;
        }
        .sec {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
            margin: 10px;
            width: 100vw;
            /* height: 100vh; */
            padding: 10px;
            /*  margin: 10px; */
        }
        .firstsec {
            position: relative;
            /* top: 50px; */
        }
        .content {
            position: relative;
            font-size: 1.4rem;
            font-weight: 500;
            color: red;
            font-weight: 600;
            padding-left: 50px;
            padding-right: 50px;
            font-family: "Advent Pro";
            top: 4.5em;
        }
        .sec .head {
            position: relative;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 3rem;
            font-family: "Jua", 'Love Ya Like A Sister', cursive;
            text-shadow: 0px 0px black;
            color: rgb(233, 192, 7);
        }
        .firstsec {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
            background-size: cover;
            background-attachment: fixed;
        }
        .secsec {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
            background-size: cover;
            background-attachment: fixed;
        }
        .thsec {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background-size: cover;
            background-attachment: fixed;
        }
        .frsec {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background-size: cover;
            background-attachment: fixed;
        }
        .ftsec {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background-size: cover;
            background-attachment: fixed;
        }
        .stsec {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background-size: cover;
            background-attachment: fixed;
        }
        .sttsec {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background-size: cover;
            background-attachment: fixed;
        }
        #cont .content p {
            text-align: center;
            width: 100%;
            transform: translateY(-6rem);
            font-size: 2.5rem;
        }
        #cont .content ul {
            transform: translateY(-6rem);
            transform: translateX(-5.5rem);
        }
    }